# API Tokens
GITHUB_TOKEN="" # Get a GitHub Personal Access Token
WAKATIME_TOKEN="" # Get a WakaTime Personal Access Token


# Redis
REDIS_USER='' # Create a Redis Username
REDIS_PASS="" # Create a Redis Password
PROD_HOST="" # Get a Production Redis host string (Cloud hosted preferred)
PROD_PORT="" # Get the Redis port (e.g., 15872)